.blog-section {
  padding: 50px 0px;
}

main .swiper-button-prev:after, main .swiper-button-next:after {
  border-radius: 50%;
  font-family: 'swiper-icons';
  font-size: 20px!important;
  width: 35px;
  padding: 5px 13px!important;
  height: 35px;
  color: #fff;
  background:#063078;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, .2);
}

main {
  position: relative;
  width: 100%;
}

.swiper-blog {
  width: 18.75rem;
  height: 20.125rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: self-start;
  border-radius: 15px;
  position: relative; /* To position content */
  overflow: hidden;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease-in-out;
}

.swiper-blog div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8); 
  padding: 1.5rem;
  transform: translateY(100%); /* Initially hidden by translating content down */
  opacity: 0; /* Hidden content */
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Smooth transition */
}

.swiper-blog:hover div {
  transform: translateY(0); /* Slide up the content */
  opacity: 1; /* Show the content */
}

.swiper-blog h3,
.swiper-blog p,
.swiper-blog a {
  color: #fff;
}

.swiper-blog h3 {
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 0.625rem;
}

.swiper-blog p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.swiper-blog a {
  color: #fff;
  border: 2px solid #fff;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

.swiper-blog:hover {
  transform: scale(1.05); /* Subtle zoom effect */
}

.swiper-slide--one {
  background: linear-gradient(to top, #5b72d200, #5b72d200, #5b72d200),
    url("/assets/images/blog/blog1.jpeg") no-repeat 50% 50%;
}

.swiper-slide--two {
  background: linear-gradient(to top, #5b72d200, #5b72d200, #5b72d200),
    url("/assets/images/blog/blog2.jpeg") no-repeat 50% 50%;
}

.swiper-slide--three {
  background: linear-gradient(to top, #5b72d200, #5b72d200, #5b72d200),
    url("/assets/images/blog/blog3.jpeg") no-repeat 50% 50%;
}

.swiper-slide--four {
  background: linear-gradient(to top, #5b72d200, #5b72d200, #5b72d200),
    url("/assets/images/blog/blog4.jpeg") no-repeat 50% 50%;
}

.swiper-slide--five {
  background: linear-gradient(to top, #5b72d200, #5b72d200, #5b72d200),
    url("/assets/images/blog/blog5.jpeg") no-repeat 50% 50%;
}

.swiper-slide--six {
  background: linear-gradient(to top, #5b72d200, #5b72d200, #5b72d200),
    url("/assets/images/blog/blog6.jpeg") no-repeat 50% 50%;
}

.swiper-slide--seven {
  background: linear-gradient(to top, #5b72d200, #5b72d200, #5b72d200),
    url("/assets/images/blog/blog7.jpeg") no-repeat 50% 50%;
}

.swiper-slide--eight {
  background: linear-gradient(to top, #5b72d200, #5b72d200, #5b72d200),
    url("/assets/images/blog/blog8.jpeg") no-repeat 50% 50%;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-pagination {
  bottom: 1.25rem !important;
}

@media screen and (min-width: 48rem) {
  main {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 93.75rem) {
  main > .swiper-item {
    width: 85%;
  }
}
