:root{ 
    --color1:#ADD8E6; 
    --color2: #A020F0;
  }
  .counter-section{
    padding: 50px 0px;
    /* background-color: #daf1ff; */
  }
  .counter{
    color: var(--color1);
    background: linear-gradient(to top,var(--color1), var(--color2));
    font-family: "Rajdhani", sans-serif;
    text-align: center;
    width: auto;
    padding: 55px 12px 0;
    border-radius: 20px 20px;
    position: relative;
    margin: 50px auto 0;
    z-index: 1;
  }
  .counter:before{
    content:"";
    background: #fff;
    width: calc(100% - 30px);
    height: calc(100% + 15px);
    border-radius: 10px 10px;
    transform: translateX(-50%) translateY(-50%);    
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: -1;
  }
  .counter .counter-value{
    font-size: 30px;
    font-weight: 600;
  }
  .counter .counter-icon{
    color: #fff;
    background: linear-gradient(to top left,var(--color1), var(--color2));
    font-size: 35px;
    font-weight: 600;
    width: 80px;
    height: 60px;
    line-height: 60px;
    border-radius: 10px 0 10px 10px;
    transform: translateX(-50%);
    position: absolute;
    top: -20px;
    left: 50%;
  }
  .counter .counter-icon:before{
    content: "";
    background: linear-gradient(45deg,#2f6833 49%,transparent 50%);
    width: 12px;
    height: 12px;
    position: absolute;
    top: 0;
    right: -12px;
  }
  .counter h3{
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0 0 10px;
    color:#000;
  }
  .counter .counter-value{
    font-size: 33px;
    font-weight: 600;
    line-height: 33px;
    display: block;
    color:#000;
  }
  @media screen and (max-width:990px){
    .counter{ margin-bottom: 20px; width:auto;height: 150px;}
  } 